@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap%27');

a {
    text-decoration: none;
}
.separator {
    border-top: 1px solid #F1F1F1;
    margin-block: 40px;
}
h1 {
    font-family: 'Barlow Semi Condensed', sans-serif;
}

/* NAV BAR */
/*-barra donde van las cosas-*/

.bar-nav {
    display:flex;
    align-items: center; 
    justify-content: space-between !important;
    box-sizing: border-box;
    position:sticky;
    top:0;
    background:#0E0D0D;
    padding-block: 10px;
    z-index: 100;

}



/*---------------------------*/
/*-logo con la imagen walerus-*/

#centrar-img{
    margin-top: -2px;
   margin-left: -7.2px;
  display: flex;
}

/*color del fondo */
.botonWalrus{
    background: WHITE;
    display: flex;
    width: 63px;
    height: 69px;
    border-radius: 100%;
    align-self: flex-start !important;
}
.botonWalrus:hover{
  background: #D65E48;
}
.botonWalrus:hover #logo-big{
  color: #D65E48;
}
.botonWalrus:hover  #walerus{
  color: #D65E48;
}

#logo-nav img {
     border-radius: 100%;
    height: 73px;
}

#logo-nav div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
     margin-right: -10%;
     margin-left: 5%;
}

#logo-nav h2 {
    font-size: 20px;
    margin: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
#logo-nav #logo-big {
    margin-left: 22%;
    margin-bottom: -5%;
    font-size: 17px;
    padding-top: -1px;
}
#logo-nav #walerus {
    font-size: 30px;

}


/*---------------------------*/


.bar-nav ul {
    list-style: none;
    width: 70%;
    font-family: 'Inter', sans-serif;
    justify-content: space-between !important;
     align-items: center; /*-centra los textos-*/
     margin-left: -10%;
     margin-right: -15%;
}
.bar-nav ul a {
    text-decoration: none;
    font-size: 17px;
}

.bar-nav f {
    font-weight: bold;
    background: #FF562E;
    padding: 11px 10px;
    border-radius: 5px;
    color: #F1F1F1;
    font-family: 'Inter', sans-serif;
    margin-right: -10px;
}

.bar-nav f:hover {
    /*background: #F1F1F1;*/
    color: #0E0D0D;
    transition: background 150ms ease-in;
}

.bar-nav #home-a {
    color: #FF562E;
}
.bar-nav .nav-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-right: 6px;
    margin-left: -50px;
}

.banner-container {
    display: flex;
    justify-content: center;
    z-index: -1000;
}
.banner-container img {
    width: 100%;  

}

#below-banner{
  border-radius: 60px 60px 0px 0px;
 height:130px;
  /*background: #0E0D0D;*/
backdrop-filter: blur(5px);
  background:rgb(14,13,13, 0.7);


color: #F1F1F1;
font-family: 'Barlow Semi Condensed', sans-serif;
font-size: 20px;
margin-top: -100px;
padding: 0px 10px 0px 30px;

}


#below-banner h1 {
    margin-top:30px;
    margin-left: 15px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 70px;
    margin-bottom: 0px;
}

#below-banner p {
    font-size: 15px;
    margin-bottom: 40px;
    margin-top: 10px;
        margin-left: 15px;
}

#below-banner a {
    font-weight: bold;
    letter-spacing:0.05em;
    margin-top: 10px;
    background: #FF562E;
    padding: 15px 15px;
    border-radius: 5px;
    color: #F1F1F1;
    margin-left: 15px;
    font-family: 'Inter', sans-serif;

}
#below-banner a:hover {
    background: #F1F1F1;
    color: #FF562E;
    transition: background 150ms ease-in;
}

/*configuracion del terxto debajo de BUY WALRUS*/
#ProgetDefinition{
font-weight: initial;
font-family: 'Roboto', sans-serif;
font-size: 16.5px;
line-height:26px;

}
#SoloEnNegrita{
font-weight: bold;
}
#subtituloPrincipal{
margin-top: -20px;
    font-weight: initial;
font-family: 'Roboto', sans-serif;
    font-size: 16px;
line-height:25px;

}

#colorNaranja{
    color: #FF562E;
    font-size: 14px;
}


/*FIRST SECTION*/

#first-section {
    margin-block:40px;
    justify-content: space-around !important;
    align-items: flex-start;
    padding-top: 20px;
    padding-bottom: 20px;
}
#first-section img {
    width: 33%;
    border-radius: 20px;
}
#first-section div h2 {
    margin: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
    line-height: 100%;
}
#first-section div #walrus {
    font-size: 60px;
    color: #FF562E;
}
#first-section div {
    width: 58%;
}

#picture1{
    margin-top: 0%;
}



/*SECOND SECTION*/
#second-section {
    margin-top: -4%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#second-section h1 {
    margin-top: 80px;
    font-size: 60px;

}
#second-section #roadmap {
     padding-bottom: 10%;
}

#second-section #roadmap p{
    font-family: 'Roboto', sans-serif;
        margin-block-start: 4px;
}


#second-section #roadmap img {
    width:67%;
    margin-left: -15%;

}


#roadmap{
        display: flex;
   flex-direction: row;
align-items: center;
margin-left: 12%;
margin-bottom: 8px;
}

.colorChicoNaranja{
    display:inline;
font-size: 13px;
 color: #FF562E;
}

.colorChicoNaranja1{
 color: #FF562E;
}


#second-section #referencias{
        font-style: italic;
       font-size: 43px;
    align-self: flex-end !important;
     align-self: left;
    text-align: right;
font-family: 'Barlow Semi Condensed';
letter-spacing: 2px;
  color: #FF562E;

}

#second-section #text{
    margin-top: -5%;
}

#second-section h3{
    display:inline;
    font-style: italic;
    font-size: 23px;
    padding-bottom:-15px;
  }



#second-section #images {
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    gap: 15px;
    padding-top: 80px;
}
#second-section #images img {
    width: 30%;
    aspect-ratio: 1;
    border-radius: 15px;
}

#second-section #below-images {
    align-self: flex-end !important;
    text-align: right;
    margin-right: 5%;
    width: 30%;
}
#second-section #below-images h1 {
    font-size: 58px;
    margin: 0;
}
#second-section #below-images p {
    font-size: 18px;
    margin-bottom: 25px;
    margin-top: 5px;
    margin-left: 50px;

}
#second-section #below-images a {
    background: #FF562E;
    padding: 15px 15px;
    border-radius: 5px;
    color: #F1F1F1;
    margin-top: 5px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}
#second-section #below-images a:hover {
    background: #F1F1F1;
    color: #FF562E;
    transition: background 150ms ease-in;
}

.zoom {
    background-position: bottom;
    transition:transform .5s;
}
.zoom:hover{

transform:scale(1.05);
}





/*THIRD SECTION*/
#third-section {
    margin-top: 50px;
    margin-bottom:40px;
    padding-top: 80px;
}
#third-section h1 {
    margin: 0px 0 0 5%;
    font-size: 50px;
    margin-bottom: 20px;

}

#third-section ul {
    list-style: none;
  
}
#third-section details {
    border-bottom: 1px solid #F1F1F1;
    padding: 20px;
    padding-bottom: 30px;
    font-weight: bold;
    font-size: 20px;
    transition: all 100ms ease-in;
}
#third-section details summary {
    outline: none;
    cursor: pointer;
    line-height: 150%;
}
#third-section details summary svg {
    position: absolute;
    right: 30px;
}
#third-section details p {
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: -1px;
        font-size: 17px;
    margin-left: 30px;
}
#third-section details[open] {
    transition: all 250ms ease-in-out;
    animation-duration: 1s;
}


#third-section details > summary:first-of-type{
    list-style-type: none;
}
#third-section details summary::-webkit-details-marker {
    display: none;
}

/*FOURTH SECTION*/
#fourth-section {
    justify-content: space-around;

}

#fourth-section h1 {
    font-size: 50px;
        margin-top: -5px;
}

#fourth-section #team-container {
    width: 45%;
}

#fourth-section ul {
    list-style: none;
    padding: 0;
}
#fourth-section ul li {
    margin-top: 27px;
}
#fourth-section h4 {
    display: inline;
    color: #FF562E;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 23px;
}
#fourth-section p {
    margin-top: -15px;
    font-size: 18px;
    margin-bottom: 50px;
}

#fourth-section #team-images {
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 15px;
    width: 45%;
    margin-top: 10px;
}
#fourth-section img {
    width: 40%;
    aspect-ratio: 1;
    border-radius: 10px;
     filter: contrast(110%);
}

.nav-lines {
    display: none;
    margin-right: 30px;
    transform: scale(1.5);
    cursor: pointer;
}


/* MEDIA QUERYS */

@media screen and (max-width: 1020px) {
    nav ul li, nav .nav-buttons {
        display: none !important;
    }
    .botonWalrus {
        margin-left: 30px;
    }
    .botonWalrus div {

    }
    nav ul li:last-child {
        display: inline !important;
        position: absolute;
        right: 15%;
    }
    nav .nav-lines {
        display: inline !important;
    }
}
