@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@1,700&display=swap');

body {
  background: #0E0D0D;
}

h1, h2, h3, h4, p, div, a {
  color: #F1F1F1;
}

.hover:hover {
  color: #FF562E;
  transition: color 250ms ease-out;
}

.common-container {
  max-width: 1200px;
  margin-inline: auto;
  flex-direction: column;
}

.flex {
  display: flex;
  justify-content: center;
}

/* TITLE, LOGO AND BUTTONS */


.home-title {
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.home-title h1 {
  margin: 0;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

#thebig {
  font-size: 30px;
  margin-bottom: -20px;
  text-decoration: none;
}

#walrus {
  margin-right: -10%;
  margin-top: -10px;
  font-size: 60px;
  text-decoration: none;
}

.home-title:hover #walrus{
  color: #D65E48;
}
.home-title:hover #thebig{
  color: #D65E48;
}



.nav-buttons {
  justify-content: right;
  margin-top: -30px;
  padding-bottom: 10px;
  gap: 10px;
}

 /*----Logo de la morza imagen-- */

#centrar-img{
  margin-left: -6px;
  margin-top: -5px;
  margin-bottom: -2.8px;
  display: flex;
}

 /*--------------Configuracion del voton naranja de atras----------- */

.boton {
  margin-top: 5%;
  margin-left: -260%;
  display: flex;
  width: 87px;
  height: 95.7px;
  background: white;
  cursor: pointer;
  transition: .1s ease all;
  border-radius: 100%;
  text-decoration: none;
}


.boton:hover{
  background: #D65E48;
}

.boton:hover #thebig{
  color: #D65E48;
}
.boton:hover #walrus{
  color: #D65E48;
}



/* BANNER */

#banner-container {
  display: flex;
  justify-content: center;
}

#banner-container img {
  width: 100%;
}

/*ENTER BUTTON*/

#enter-bar {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-self: end;

  width: 300px;
  height: 210px;
  background: #0E0D0D;
  color: #F1F1F1;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 20px;

  margin-top: -210px;
  padding: 0px 10px 0px 30px;
}

#enter-bar button {
  background: #FF562E;
  border: none;
  border-radius: 5px;
  padding-block: 15px;

  font-size: 20px;
  font-weight: bold;
  color: #F1F1F1;
}

#enter-bar button:hover {
  background: #F1F1F1;
  color: #FF562E;
  transition: background 150ms ease-in;
}

#enter-bar button svg {
  margin-bottom: -5px;
}