@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@1,700&display=swap');

body {
  background: #0E0D0D;
}

h1, h2, h3, h4, p, div, a {
  color: #F1F1F1;
}

.hover:hover {
  color: #FF562E;
}

.common-container {
  max-width: 1200px;
  margin-inline: auto;
}

.flex {
  display: flex;
  justify-content: center;
}

/* TITLE, LOGO AND BUTTONS */

#home-logo {
  height: 90px;
  aspect-ratio: 1;
}

.home-title {
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.home-title h1 {
  margin: 0;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

#thebig {
  font-size: 30px;
  margin-bottom: -10px;
}

#walrus {
  margin-top: -10px;
  font-size: 60px;
}

.nav-buttons {
  justify-content: right;
  margin-top: -20px;
  gap: 5px;
}

/* BANNER */

#banner-container {
  display: flex;
  justify-content: center;
}

#banner-container img {
  width: 100%;
}